* {
    --body-color: #fff6e3;
    --main-color: #fbe3ab;
    --raspberry-color: #E30B5C;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
}

div#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--main-color);
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: end;
    gap: 15px;
}

header .tab {
    height: 100%;
    width: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .tab:hover {
    border-bottom: 3px solid var(--raspberry-color);
    cursor: pointer;
}

header .tab.selected {
    border-bottom: 3px solid var(--raspberry-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 80px;
    background-color: var(--main-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

footer a {
    display: flex;
    align-items: center;
}

footer img {
    width: 25px;
    height: 25px;
}

/* Home Page */
section#home {
    display: flex;
    gap: 15px;
}

section#home > .image-container {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

section#home > article {
    padding: 10px;
    width: 275px;
    background-color: var(--main-color);
    border-bottom: 8px solid var(--raspberry-color);
    border-radius: 3px;
}

section#home > article > h1,
section#home > article > p {
    text-align: center;
}

section#home img {
    width: 100%;
    height: 100%;
}

/* Menu Page */
section#menu {
    width: 600px;
    height: 600px;
    background-image: url(./images/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

/* Contact Page */
section#contact {
    width: 400px;
    height: max-content;
    padding: 10px;
    background-color: var(--main-color);
    border-bottom: 8px solid var(--raspberry-color);
}

section#contact h1,
section#contact p {
    text-align: center;
}
