body {
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tic-tac-toe {
    width: 500px;
    height: 500px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    border: 1px solid red;
    font-size: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.X {

}

.O {
    
}