.drop-down-container {
    width: fit-content;
}

.drop-down-items {
    transform-origin: top;
    display: none;
}

.visible {
    display: block;
    animation: drop-down 1s ease-out;
}
   
@keyframes drop-down {
0% {
    transform: scaleY(0)
}

100% {
    transform: scaleY(1);
}
}